<h2 id="title">Clean Plate</h2>
   <form action="/signin" class="inline">
         <button class="btn btn-outline-success">Login</button>
    </form>
    <form action="/signup" class="inline">
        <button class="float-left submit-button btn btn-primary">Sign Up</button>
  </form>
</body>