<h2 id="title"></h2>


<div class="text-center" id="container2">
   <form action="/signin" class="inline">
         <button class="btn btn-dark btn-change">Login</button>
    </form>
    
    <form action="/signup" class="inline">
        <button class="btn btn-dark btn-change" id="btn2">Sign Up</button>
  </form>

</div>
  

</body>